<div class="container">

  <div class="ui-g">

    <form #pessoaform="ngForm" autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>


      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText name="nome" [(ngModel)]="pessoa.nome" type="text">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">

    <div class="ui-g-12">

      <p-dataTable [value]="pessoas" [paginator]="true" [rows]="pessoa.itensPorPagina" [responsive]="true" [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)">

        <p-column field="nome" header="Nome"></p-column>
        <p-column field="endereco.cidade" header="Cidade"></p-column>
        <p-column field="endereco.estado" header="Estado"></p-column>
        <p-column field="ativo" header="Status">
          <ng-template let-pess="rowData" pTemplate="body">
            <div class="ativar-desativar">
              <a [pTooltip]="ehAtivo(pess)" (click)="mudarStatus(pess.nome, pess.codigo, pess.ativo)" tooltipPosition="top" href="javascript:;"
              > {{ pess.ativo ? 'Ativo' : 'Inativo' }} </a>
            </div>
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template let-pess="rowData" pTemplate="body">
            <a pButton icon="fa-pencil" [routerLink]="['/pessoas', pess.codigo]" pTooltip="Editar" tooltipPosition="top"></a>
            <button pButton (click)="confirmarExclusao(pess)" icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
          </ng-template>
        </p-column>
      </p-dataTable>

    </div>

    <div class="ui-g-12">
      <a routerLink="novo" pButton label="Nova Pessoa"></a>
    </div>


  </div>

</div>
