<div class="container">

  <form  [formGroup]="formulario" (ngSubmit)="salvar()">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton  name="tipo" [options]="tipos" formControlName="tipo"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar name="dataVencimento"  formControlName="dataVencimento" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>

        <!-- Inicio mensagens de erros -->
        <app-message [control]="formulario.get('dataVencimento')" error="required" text="Informe uma data de vencimento"></app-message>

      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label> {{  formulario.get('tipo').value == 'RECEITA'? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar formControlName="dataPagamento" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text"  name="descricao" formControlName="descricao">

        <!-- Inicio mensagens de erros -->
        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade" text="Informe uma descrição"></app-message>
        <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo"
            text="Informe uma descrição com pelo menos {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-message>
        <!-- Fim mensagens de erros -->

      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input  name= "valor"  formControlName="valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"   pInputText type="text" placeholder="R$ 0,00" >
        <!-- Inicio mensagens de erros -->
        <app-message [control]="formulario.get('valor')" error="required" text="Informe um valor"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown name="categoria" formControlName="codigo" [options]="categorias"   [autoWidth]="false" placeholder="Selecione" ></p-dropdown>
        <!-- Inicio mensagens de erros -->
        <app-message [control]="formulario.get('categoria')" error="required" text="Informe uma categoria"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" formControlName="codigo" [filter]="true" [autoWidth]="false" placeholder="Selecione" ></p-dropdown>
        <!-- Inicio mensagens de erros -->
        <app-message [control]="formulario.get('pessoa')" error="required" text="Informe uma pessoa"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea name="observacao" formControlName="observacao" pInputTextarea rows="3"></textarea>
      </div>

      <div class="ui-g-6 ui-g-offset-6 ui-md-2 ui-md-offset-10 ui-fluid" *ngIf="!formulario.get('anexo').value" >
        <p-fileUpload name="anexo" mode="basic" auto="true" maxFileSize="10000000000" chooseLabel="Anexar"
          accept="image/*,application/*" [url]="urlUploadAnexo" (onBeforeSend)="antesUploadAnexo($event)"
          (onUpload)="aoTerminarUploadAnexo($event)"
          (onError)="erroUpload($event)"
          [hidden]="uploadEmAndamento"  ></p-fileUpload>

          <p-progressSpinner [hidden]="!uploadEmAndamento"  [style]="{ width: '25px', height: '25px' }"></p-progressSpinner>
      </div>

      <div class="ui-g-12" *ngIf="formulario.get('anexo').value" dir="rtl">

        <button pButton type="button" class="ui-button-danger" icon="fa-close" pTolltip="Remover anexo" tooltipPosition="top"
          (click)="removerAnexo()" ></button>

        <a target="_blank" pTooltip="Baixar anexo" tooltipPosition="top"
          [href]="formulario.get('urlAnexo').value"> {{ nomeAnexo }}</a>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label='{{ labelBotao }}' [disabled]="formulario.invalid || uploadEmAndamento"></button>
        <button pButton type="button" label='Novo'
          (click)="novo()"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>

</div>
